<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlscrate.unl_bathroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OldfatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnderConstruction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryBasementFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryMens0Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryFirstFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryWomens0Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryMens1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryWomens1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AverySecondFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryMens2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryWomens2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryThirdFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryMens3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AveryWomens3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsFirstFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsSecondFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsThirdFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsMen1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsMen2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndrewsMen3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettBasementFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettFirstFloor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettSecondFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettThirdFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettMens1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettMens2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettMens3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BurnettMens4Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".BurnettWomens0" />
        <activity android:name=".BurnettWomen1" />
        <activity android:name=".BurnettWomen2" />
        <activity android:name=".BurnettWomen3"></activity>
    </application>

</manifest>