<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.carlscrate.unl_bathroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".AveryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UnderConstruction"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AveryBasementFloorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AveryMens0Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AveryFirstFloorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AveryMens1Activity"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity android:name=".AverySecondFloorActivity">
        </activity>
        <activity android:name=".AveryMens2Activity">
        </activity>
        <activity android:name=".AveryThirdFloorActivity">
        </activity>
        <activity android:name=".AveryMens3Activity">
        </activity>
        <activity android:name=".SendEmailActivity">
        </activity>
    </application>

</manifest>